[push]
  default = current
[user]
	name = Yves Le Douaron
	email = yves@finalcad.com
[color]
	ui = true
[help]
	autocorrect = 1
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.cvsignore
	filemode = true
[merge]
	tool = vimdiff
[man]
	viewer = most
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
  unstage = reset HEAD
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	uncommit = reset HEAD^
[diff]
	tool = vimdiff
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
  ; cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

