[push]
  default = current
[user]
	name = Yves Le Douaron
	email = yves.ledouaron@lunchr.co
	signingkey = 17204EBC5C8E6E51
[color]
	ui = true
[help]
	autocorrect = 1
[core]
	autocrlf = input
	editor = nvim
	excludesfile = /Users/yves/.gitignore_global
	filemode = true
[merge]
	tool = vimdiff
[man]
	viewer = less
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
  wadd = "!f() { \
    if git -c submodule.recurse=0 worktree add $@ && pushd $1 &> /dev/null && git submodule update --init && popd &> /dev/null ; then \
      for ENV_FILE in $(find . -maxdepth 2  -name '.env') ; \
      do \
        echo \"copying ${ENV_FILE} to realpath ${1}/${ENV_FILE} \"; \
        cp ${ENV_FILE} ${1}/${ENV_FILE} ; \
      done ; \
    fi \
    } ; f"
  wls = worktree list
  wrm = worktree remove  --force
  unstage = reset HEAD
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	uncommit = reset HEAD^
[diff]
	tool = vimdiff
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
  ; cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[merge "railsschema"]
	name = newer Rails schema version
	driver = "ruby -e '\n\
		system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B)\n\
		b = File.read(%(%A))\n\
		b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.version: (\\d+). do\\n=+\\nActiveRecord::Schema\\.define.version: (\\d+). do\\n>+ .*/) do\n\
		  %(ActiveRecord::Schema.define(version: #{[$1, $2].max}) do)\n\
		end\n\
		File.open(%(%A), %(w)) {|f| f.write(b)}\n\
		exit 1 if b.include?(%(<)*%L)'"
[submodule]
	recurse = true
