[user]
	name = Yves Le Douaron
	email = yves.ledouaron@free.fr
[color]
	ui = true
[help]
	autocorrect = 1
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.cvsignore
[merge]
	tool = vimdiff
[man]
	viewer = most
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	last = log -1 HEAD
[http]
	proxy = http://yledouaron:boum6paf@hebex-eburo.nice.francetelecom.fr:8080/
