! Default
*background : black
*foreground : white
*cursorColor : yellow
*font: xft:Bitstream Vera Sans Mono:style=Regular:pixelsize=14
! Monospace
!DejaVu Sans Mono
!*font: xft:Bitstream Vera Sans Mono:style=Regular:pixelsize=16
!*font: 9x15
! Terminus:11 
! xft:Bitstream Vera Sans Mono:style=Regular:pixelsize=13
!xft:Terminus:11
*loginShell: true
! Xterm
XTerm*background : black
XTerm*foreground : white
XTerm*cursorColor : green
URxvt.cursorColor:      #e0e080

! Urxvt
URxvt.selection.pattern-0: ([^"&'()*,;<=>?@[\\\\]^`{|})]+)
URxvt.selection.pattern-1: ^(/[^:]+):\

URxvt*termName:xterm
#urxvt*termName:         rxvt-unicode
URxvt.urgentOnBell: True

URxvt.perl-ext-common:  default,matcher
!,tabbed
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.matcher.button:   1

!URxvt.tabbed.tabbar-fg: 3
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg:    3
!URxvt.tabbed.tab-bg:    0

!urxvt*background : black
!urxvt*foreground : white
urxvt*transparent : true
urxvt*shading : 20

urxvt*saveLines: 10000
urxvt*scrollBar: false

urxvt*cursorColor: #939393
urxvt*cursorBlink: true
urxvt*cursorUnderline: false


